extends layout

block content
	article
		h1= title
		div(id="cc")
			span(id="cc-text")
				| Caption text will go here

	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="javascripts/viewer.js")
