extends layout

block content
	h1= title

	form(id="createNewRoom" action="createNewRoom", method="POST")
		label
			input(type="text" name="RoomName" placeholder="Room Name..")
		input(type="submit", value="Start Casting!")