extends layout

block content
	div(class='jumbotron')
		h1= title
		p Welcome to #{title}! The best way to serve live captions! From classrooms to boardrooms, Wordcast delivers! Provide almost instant captions to listeners with just an internet connection.  

		p
			| ...and its completely 
			strong(style='color: red;')
				| Free! 

			| But, 

			//- Open Source Definition 
			a(href="http://bit.ly/1ixwz0C")
				small
					| why?

		p
			a(class="btn btn-primary btn-lg" href="createRoom" role="button")
				| Create Room (Free) 