extends layout

block content
	div(id="cc")
		span(id="cc-button")
			button(onclick="toggleSpeechRecognition(event)")
				abbr(title="Closed Captioning") 
					| CC
				| Click to caption
		span(id="cc-text", style="display: none;", onclick="toggleSpeechRecognition(event)")
			| Begin speaking. Click to stop.


	article
		h1(id="roomName", contenteditable)= title
		ol
			li 
				| Open this page in Chrome desktop (25+)
			li 
				| Click button to begin captioning
			li 
				| Click button to begin captioning
			li 
				| Begin talking. May need to pause occasionaly
			li 
				| Click to caption stop

	button(class='btn btn-default', onclick="dummyMsg('here is a message')")
		| Send Msg

	p
		a(href='#')
			i(class='icon-cog')

		a(href='#')
			i(class='icon-user-add')

block scripts
	script(type='text/javascript', src='/socket.io/socket.io.js', async)
	script(type='text/javascript', src='/javascripts/listener.js', async)
