extends layout

block content
	div(class="controls")
		button(id='cc-toggle' class='btn-lg' onclick="toggleSpeechRecognition(event)")
			i(class="icon-microphone") 

		//-button(class='btn btn-default', onclick="dummyMsg('here is a message')")| Send Msg

		a(href='#' class='btn')
			i(class='icon-cog')
			|  Settings

		a(href='#' class='btn')
			i(class='icon-user-add')
			|  Invite


	article(class='grid-1-2')
		h1(id="roomName", contenteditable)= title
		ol
			li 
				| Open this page in Chrome desktop (25+)
			li 
				| Click button to begin captioning
			li 
				| Begin talking. May need to pause occasionaly
			li 
				| Click button again to stop captioning

	div(class='grid-1-2')
		h3
			| Caption Log
		ul(class='log-captions')

block scripts
	script(type='text/javascript', src='/socket.io/socket.io.js', async)
	script(type='text/javascript', src='/javascripts/listener.js', async)
