extends layout

block content
	article
		h1(id="roomName")= title
	
	div
		ul(class='log-captions')

	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/javascripts/viewer.js")
